@model IEnumerable<Facelift_App.MsWarehouse>

@*<style>
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>

<div class="container-fluid">
    <div class="d-sm-flex mb-4">
        <div class="dropdown">
            <button class="btn btn-facebook btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Warehouse : <span id="whActv">None</span>
            </button>
            <div class="dropdown-menu scrollable-menu">
                @if (Model != null && Model.Any())
                {
                    foreach (var wh in Model)
                    {
                        <button class="dropdown-item warehouseAccess" data-value="@wh.WarehouseId">@wh.WarehouseName</button>
                    }
                }
                else
                {
                    <span class="dropdown-item disabled text-sm-left">No access.</span>
                }
            </div>
        </div>

    </div>
</div>*@


<style>
    .menu-dd {
        padding-top: 20px
    }
    .scrollable-menu {
        height: auto;
        max-height: 200px;
        overflow-x: hidden;
    }
</style>
<li class="menu-dd">
    <div class="dropdown">
        <button class="btn btn-facebook btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Warehouse : <span id="whActv">None</span>
        </button>
        <div class="dropdown-menu scrollable-menu">
            @if (Model != null && Model.Any())
            {
                foreach (var wh in Model)
                {
                    string state = "";
                    if (wh.WarehouseId.Equals(Session["warehouseAccess"].ToString()))
                    {
                        state = "active";
                    }

                    <button type="button" class="dropdown-item warehouseAccess @(state)" data-value="@wh.WarehouseId">@wh.WarehouseName</button>
                }
            }
            else
            {
                <span class="dropdown-item disabled text-sm-left">No access.</span>
            }
        </div>
    </div>
</li>
<li class="topbar-divider d-none d-sm-block"></li>
