@model IEnumerable<Facelift_App.MsMainMenu>
@*@model Facelift_App.MsUser*@

@{
    string controller = ViewBag.CurrentController;
}

<!-- Sidebar - Brand -->
<li>
    <a class="sidebar-brand d-flex bg-white align-items-center justify-content-center" href="@Url.Action("Index", "Dashboard")">
        <div class="sidebar-brand-icon">
            <img style="width:50px;height:50px;" src="@Url.Content("~/Content/img/logo.png")">
        </div>
        <div class="sidebar-brand-text mx-3 txt-custom-primary">Facelift <sup>MS</sup></div>
    </a>
</li>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<li class="nav-item @(controller.Equals("Dashboard") ? "active" : "")">
    <a class="nav-link" href="@Url.Action("Index", "Dashboard")">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
    </a>
</li>


@if (Model != null)
{

    int index = 0;
    foreach (var mainMenu in Model)
    {
        if (mainMenu.MsMenus.Any())
        {
            string active = "nav-item";
            string show = "collapse";


            if (mainMenu.MsMenus.Where(m => m.MenuPath.Equals(controller)).Any())
            {
                active += " active";
                show += " show";
            }


            <li class="@(active)">
                <a class="nav-link" href="javascript:void(0)" data-toggle="collapse" data-target="#collapse@(index)" aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="@mainMenu.MenuIcon"></i>
                    <span>@mainMenu.MenuName</span>
                </a>
                <div id="collapse@(index)" class="@(show)" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @foreach (var menu in mainMenu.MsMenus)
                        {
                            <a class="collapse-item @(controller.Equals(menu.MenuPath) ? "active" : "")" href="@Url.Action("Index", @menu.MenuPath)">@menu.MenuName</a>
                        }
                    </div>
                </div>
            </li>
            index++;
        }

    }
}

<hr class="sidebar-divider d-none d-md-block">

<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
