
@{
    ViewBag.Title += " - List";
}


@{string[] months = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" };}

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
        </div>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Rent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Damage / Loss</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                <div class="row mt-3 mb-3">
                    <div class="col-xs-12 col-lg-12">
                        <div class="d-sm-flex align-items-center justify-content-between mb-1">
                            <h6 class="h6 mb-0 text-gray-800">Rent</h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mb-2">
                    <div class="col-lg-4">
                        <div class="card shadow border-left-warning">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4">Year</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="currentYear1">
                                                    @for (int i = 2020; i <= DateTime.Now.Year; i++)
                                                    {
                                                        if (DateTime.Now.Year.Equals(i))
                                                        {
                                                            <option value="@i" selected>@i</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4">Month</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="currentMonth1">
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        if (DateTime.Now.Month.Equals(i))
                                                        {
                                                            <option value="@i" selected>@months[i - 1]</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i">@months[i - 1]</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="fa-pull-right">
                                            <button type="button" class="btn btn-success btn-icon-split" onclick="LoadDataRent()">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file"></i>
                                                </span>
                                                <span class="text">Load Data</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <td>Generated At</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="generatedDate1"></b></td>
                            </tr>
                            <tr>
                                <td>Selected Year</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="selectedYear1"></b></td>
                            </tr>
                            <tr>
                                <td>Selected Month</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="selectedMonth1"></b></td>
                            </tr>
                            <tr>
                                <td>Invoice Status</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="invoiceStatus1"></b></td>
                            </tr>
                            <tr id="btnExcel" style="display:none;">
                                <td>
                                    <button type="button" class="btn btn-primary btn-icon-split btn-sm" onclick="ExportToExcel()">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-file-excel"></i>
                                        </span>
                                        <span class="text">Export To Excel</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Billing</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalPrice1">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-money-check fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Pallet</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalPallet1">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-pallet fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="card shadow mb-4 border-left-primary">
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="billingTable1" width="100%" cellspacing="0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Tag Id</th>
                                            <th>Status Pallet</th>
                                            <th>Pallet Name</th>
                                            <th>Pallet Age (Month)</th>
                                            <th>Pallet Age (Year)</th>
                                            <th>Last Transaction Date</th>
                                            <th>Date Cut Off Time</th>
                                            <th>Total Days</th>
                                            <th>Price / Day</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                <div class="row mt-3 mb-3">
                    <div class="col-xs-12 col-lg-12">
                        <div class="d-sm-flex align-items-center justify-content-between mb-1">
                            <h6 class="h6 mb-0 text-gray-800">Damage / Loss Pallet</h6>
                        </div>
                    </div>
                </div>
                <div class="row mt-3 mb-2">
                    <div class="col-lg-4">
                        <div class="card shadow border-left-warning">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Filter</h6>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4">Year</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="currentYear2">
                                                    @for (int i = 2020; i <= DateTime.Now.Year; i++)
                                                    {
                                                        if (DateTime.Now.Year.Equals(i))
                                                        {
                                                            <option value="@i" selected>@i</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i">@i</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-sm-4">Month</label>
                                            <div class="col-sm-8">
                                                <select class="form-control" name="currentMonth2">
                                                    @for (int i = 1; i <= 12; i++)
                                                    {
                                                        if (DateTime.Now.Month.Equals(i))
                                                        {
                                                            <option value="@i" selected>@months[i - 1]</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@i">@months[i - 1]</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="fa-pull-right">
                                            <button type="button" class="btn btn-success btn-icon-split" onclick="LoadDataDeffect()">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file"></i>
                                                </span>
                                                <span class="text">Load Data</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-12">
                        <table>
                            <tr>
                                <td>Generated At</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="generatedDate2"></b></td>
                            </tr>
                            <tr>
                                <td>Selected Year</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="selectedYear2"></b></td>
                            </tr>
                            <tr>
                                <td>Selected Month</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="selectedMonth2"></b></td>
                            </tr>
                            <tr>
                                <td>Invoice Status</td>
                                <td>:</td>
                                <td style="padding: 0 15px 0 15px;"><b id="invoiceStatus2"></b></td>
                            </tr>
                            <tr id="btnExcelDeffect" style="display:none;">
                                <td>
                                    <button type="button" class="btn btn-primary btn-icon-split btn-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-file-excel"></i>
                                        </span>
                                        <span class="text">Export To Excel</span>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Previous Deffect</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalPrevDeffect2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-pallet fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Current Deffect</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalCurrentDeffect2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-pallet fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Deffect Pallet</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalDeffectPallet2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-pallet fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Pallet</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalPallet2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-pallet fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Price per Pallet</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="price2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-money-check fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Treshold</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="treshold2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-money-check fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 mb-4">
                        <div class="card border-left-dark shadow">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-gray-600 text-uppercase mb-1">Total Billing</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-600"><span id="totalPrice2">0</span></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-money-check fa-2x text-gray-600"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="card shadow mb-4 border-left-primary">
                            <div class="card-body">
                                <table class="table table-bordered table-striped" id="billingTable2" width="100%" cellspacing="0">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Tag Id</th>
                                            <th>Pallet Name</th>
                                            <th>Pallet Condition</th>
                                        </tr>
                                    </thead>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


@section custom_css
{
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/vendor/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css")
    @Styles.Render("~/Content/vendor/select2/css/select2.css")
    @Styles.Render("~/Content/vendor/select2/css/select2-bootstrap.css")

    <style>
        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            /*width: 800px;*/
            margin: 0 auto;
        }
    </style>
}

@section custom_js
{
    @Scripts.Render("~/Content/vendor/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/vendor/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/vendor/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js")
    @Scripts.Render("~/Content/vendor/select2/js/select2.js")
<script>

    let months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec"];

    $('#tab-1').on('shown.bs.tab', function (e) {
        LoadDataRent();
    });

    $('#tab-2').on('shown.bs.tab', function (e) {
        LoadDataDeffect();
    });


    function LoadDataRent() {
        $('#btnExcel').hide();
            tableBilling1.draw();
    }


    let selectedMonth = "";
    let selectedYear = "";
        var tableBilling1 = $('#billingTable1').DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: '@Url.Action("DatatableRent")',
                        type: "POST",
                        datatype: "json",
                        data: function (d) {
                            d.month = $('[name="currentMonth1"').val();
                            d.year = $('[name="currentYear1"').val();
                        }
                    },
                    scrollY: "500px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: true,
                    //fixedColumns: true
                    order : [[0, "asc"]],
                    columns: [
                        { "data": "PalletId", "name": "TagId", "autoWidth": true },
                        { "data": "PalletCondition", "name": "PalletCondition", "autoWidth": true },
                        { "data": "PalletName", "name": "PalletName", "autoWidth": true },
                        { "data": "PalletAgeMonth", "name": "PalletAgeMonth", "autoWidth": true },
                        { "data": "PalletAgeYear", "name": "PalletAgeYear", "autoWidth": true },
                        { "data": "LastTransactionDate", "name": "LastTransactionDate", "autoWidth": true },
                        { "data": "CutOffAt", "name": "CutOffAt", "autoWidth": true },
                        { "data": "TotalDays", "name": "TotalDays", "autoWidth": true },
                        { "data": "BillingPrice", "name": "BillingPrice", "autoWidth": true },
                        { "data": "TotalBilling", "name": "TotalBilling", "autoWidth": true }
                    ]
           });

            tableBilling1.on('xhr', function () {
                let response = tableBilling1.ajax.json();
                let recordsTotal = response.recordsTotal;
                let generatedDate = response.generatedDate;
                selectedMonth = response.month;
                selectedYear = response.year;
                let totalPrice = response.totalPrice;
                $('#totalPallet1').html(recordsTotal);
                $('#generatedDate1').html(generatedDate);
                $('#selectedMonth1').html(months[selectedMonth - 1]);
                $('#selectedYear1').html(selectedYear);
                $('#totalPrice1').html(totalPrice);
                $('#invoiceStatus1').html(response.invoiceStatus);
                $('#btnExcel').show();
            });


    function LoadDataDeffect() {
        $('#btnExcelDeffect').hide();
        tableBilling2.draw();
    }

    var tableBilling2 = $('#billingTable2').DataTable({
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: '@Url.Action("DatatableDeffect")',
                        type: "POST",
                        datatype: "json",
                        data: function (d) {
                            d.month = $('[name="currentMonth2"').val();
                            d.year = $('[name="currentYear2"').val();
                        }
                    },
                    scrollY: "500px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: true,
                    //fixedColumns: true
                    order : [[0, "asc"]],
                    columns: [
                        { "data": "TagId", "name": "TagId", "autoWidth": true },
                        { "data": "PalletName", "name": "PalletName", "autoWidth": true },
                        { "data": "PalletCondition", "name": "PalletCondition", "autoWidth": true }
                    ]
           });

    tableBilling2.on('xhr', function () {
        let response = tableBilling2.ajax.json();
        $('#totalPrevDeffect2').html(response.totalPreviousDeffect);
        $('#totalCurrentDeffect2').html(response.totalCurrentDeffect);
        $('#totalDeffectPallet2').html(response.totalPalletDeffect);
            $('#totalPallet2').html(response.totalPallet);
            $('#generatedDate2').html(response.generatedDate);
            $('#selectedMonth2').html(months[response.month - 1]);
            $('#selectedYear2').html(response.year);
            $('#totalPrice2').html(response.totalPrice);

            $('#price2').html(response.price);
            $('#treshold2').html(response.treshold + " %");

        $('#invoiceStatus2').html(response.invoiceStatus);
        $('#btnExcelDeffect').show();
    });



    $('#btnExcel').click(function () {
        window.location.href = '@Url.Action("ExportExcelRent", "ReportBilling")?m=' + selectedMonth + '&y=' + selectedYear;
    });

    $('#btnExcelDeffect').click(function () {
        window.location.href = '@Url.Action("ExportExcelDeffect", "ReportBilling")?m=' + selectedMonth + '&y=' + selectedYear;
    });

</script>
    }