
@{
    ViewBag.Title += " - List";

    ViewBag.baseUrl = Request.Url.Scheme + "://" + Request.Url.Authority +
       Request.ApplicationPath.TrimEnd('/') + "/";
}


<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
    </div>

    <div class="row mb-3">
        <div class="col-lg-12">
            <button type="button" class="btn btn-secondary btn-icon-split" onclick="Refresh()">
                <span class="icon text-white-50">
                    <i class="fas fa-sync"></i>
                </span>
                <span class="text">Refresh</span>
            </button>
            @*<button type="button" class="btn btn-primary btn-icon-split" onclick="ExportExcel()">
                    <span class="icon text-white-50">
                        <i class="fas fa-file-excel"></i>
                    </span>
                    <span class="text">Export Excel</span>
                </button>
                <button type="button" class="btn btn-primary btn-icon-split" onclick="ExportDetail()">
                    <span class="icon text-white-50">
                        <i class="fas fa-file-excel"></i>
                    </span>
                    <span class="text">Export Detail</span>
                </button>*@
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4 border-left-primary">
                @*<div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Table</h6>
                    </div>*@
                <div class="card-body">
                    <table class="table table-bordered table-striped" id="iTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>Transaction Code</th>
                                <th>Ref Number</th>
                                <th>Type</th>
                                <th>By Whom</th>
                                <th>Classification</th>
                                <th>Warehouse Origin</th>
                                <th>Remarks</th>
                                <th>Created At</th>
                                <th>Created By</th>
                                <th>Approved At</th>
                                <th>Approved By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>

        </div>
    </div>

</div>

@Html.Partial("ConfirmationModal")

@section custom_css
{
    @*@Styles.Render("~/Content/vendor/datatables/jquery.dataTables.min.css")*@
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/vendor/datatables/fixedColumns.bootstrap4.min.css")
    @Styles.Render("~/Content/vendor/toastr/toastr.css")

    <style>
        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            /*width: 800px;*/
            margin: 0 auto;
        }
    </style>
}

@section custom_js
{
    @Scripts.Render("~/Content/vendor/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/vendor/datatables/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/vendor/datatables/dataTables.fixedColumns.min.js")
    @Scripts.Render("~/Content/vendor/toastr/toastr.min.js")
    @Scripts.Render("~/Content/custom/js/notification.js")

<script>

        $(document).ready(function () {

            let tempMessage = '@ViewBag.TempMessage';
            if (tempMessage) {
                notify("Success", "success", tempMessage);
            }

        });


        function Detail(id) {
            location.href = '@Url.Action("Detail")?x=' + id;
        }

        function Refresh() {
            table.ajax.reload();
        }

       var table = $('#iTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@Url.Action("Datatable")',
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                        //d.stats = stats;
                    }
                },
                scrollY: "500px",
                scrollX: true,
                scrollCollapse: true,
                paging: true,
                //fixedColumns: true
           fixedColumns: {
               leftColumns: 1,
               rightColumns: 1
           },
               columnDefs: [
                   { "orderable": false, "targets": 0 },
               ],
                order : [[1, "desc"]],
           columns: [
                   //{
                   //    data: null,
                   //    render: function (data, type, row) {
                   //        let button = "";

                   //        if (data.ApprovalStatus == "APPROVED") {
                   //            button = "<div class=\"btn-group btn-group-sm\">";
                   //            button += "<button type=\"button\" class=\"btn btn-space btn-sm btn-success\" onclick=\"Issued('" + row.TransactionId + "')\">";
                   //            button += '<span class="icon text-white-50"><i class="fa fa-fw fa-check"></i> Issued</span></button>';
                   //            button += '</div>';
                   //        } else if (data.ApprovalStatus == null) {
                   //            button = "<div class=\"btn-group btn-group-sm\">";
                   //            button += "<button type=\"button\" class=\"btn btn-space btn-sm btn-success\" onclick=\"Approve('" + row.TransactionId + "')\">";
                   //            button += '<span class="icon text-white-50"><i class="fa fa-fw fa-check"></i>  Approve</span></button>';
                   //            button += "<button type=\"button\" class=\"btn btn-space btn-sm btn-danger\" onclick=\"Reject('" + row.TransactionId + "')\">";
                   //            button += '<span class="icon text-white-50"><i class="fa fa-fw fa-times"></i> Reject</span></button>';
                   //            button += '</div>';
                   //        }



                   //        return button;
                   //    }
                   //},
                    { "data": "TransactionCode", "name": "TransactionCode", "autoWidth": true },
               { "data": "RefNumber", "name": "RefNumber", "autoWidth": true },
               { "data": "Type", "name": "Type", "autoWidth": true },
                    { "data": "PIC", "name": "PIC", "autoWidth": true },
                    { "data": "Classification", "name": "Classification", "autoWidth": true },
                    { "data": "WarehouseCode", "name": "WarehouseCode", "autoWidth": true },
               { "data": "Remarks", "name": "Remarks", "autoWidth": true },
               { "data": "CreatedAt", "name": "CreatedAt", "autoWidth": true },
               { "data": "CreatedBy", "name": "CreatedBy", "autoWidth": true },
                    { "data": "ApprovedBy", "name": "ApprovedBy", "autoWidth": true },
               { "data": "ApprovedAt", "name": "ApprovedAt", "autoWidth": true },
               {
                   data: null,
                   render: function (data, type, row) {
                       let button = "<button type=\"button\" class=\"btn btn-sm btn-info btn-icon-split\" onclick=\"Detail('" + row.TransactionId + "')\">";
                       button += '<span class="icon text-white-50"><i class="fas fa-edit"></i></span >';
                       button += '<span class="text">Detail</span></button >';
                       return button;
                       //return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Username + "'); >Delete</a>";
                   }
               },

                ]
       });

    let status = "";
    let TransactionId = "";

    function Approve(id) {

        $('#confirmationModalTitle').html("<b>Approve</b> Inspection");
        $('#confirmationModal').modal({
            backdrop: 'static',
            keyboard: false
        });

        status = "APPROVED";
        TransactionId = id;
    }


    function Reject(id) {
        $('#confirmationModalTitle').html("<b>Reject</b> Inspection");
        $('#confirmationModal').modal({
            backdrop: 'static',
            keyboard: false
        });

        status = "REJECTED";
        TransactionId = id;
    }

    function Issued(id) {
        $('#confirmationModalTitle').html("<b>Issued</b> Inspection");
        $('#confirmationModal').modal({
            backdrop: 'static',
            keyboard: false
        });

        status = "ISSUED";
        TransactionId = id;
    }

    $('#btnModalSave').click(function (ev) {
        if (status == "ISSUED") {
            submitIssued();
        } else {
            submitApproval();
        }
    });

      let token = '@Session["token"]';
        let warehouseAccess = '@Session["warehouseAccess"]';



    function submitApproval() {
            $('#btnModalSave').prop('disabled', true);
            $("#preloader").show();
             $.ajax({
                type: 'PUT',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('facelift_token', token);
                    request.setRequestHeader('warehouseId', warehouseAccess);
                },
                 url: '@ViewBag.baseUrl' + 'Api/InspectionApproval',
                data: {
                    Status: status,
                    TransactionId: TransactionId
                },
                success: function (response) {
                    if (!response.status) {
                        notify("Warning", "warning", response.message);
                    } else {
                        notify("Success", "success", response.message);
                        Refresh();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    notify("Error", "error", "Oops! Something went wrong.");
                    $("#preloader").hide();
                },
                complete: function () {
                    $('#confirmationModal').modal('hide');
                    $('#btnModalSave').prop('disabled', false);
                    $("#preloader").hide();
                }

            });
        }


    function submitIssued() {
            $('#btnModalSave').prop('disabled', true);
            $("#preloader").show();
             $.ajax({
                type: 'PUT',
                dataType: "json",
                beforeSend: function (request) {
                    request.setRequestHeader('facelift_token', token);
                    request.setRequestHeader('warehouseId', warehouseAccess);
                },
                 url: '@ViewBag.baseUrl' + 'Api/IssuedInspection',
                data: {
                    Status: status,
                    TransactionId: TransactionId
                },
                success: function (response) {
                    if (!response.status) {
                        notify("Warning", "warning", response.message);
                    } else {
                        notify("Success", "success", response.message);
                        Refresh();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    notify("Error", "error", "Oops! Something went wrong.");
                    $("#preloader").hide();
                },
                complete: function () {
                    $('#confirmationModal').modal('hide');
                    $('#btnModalSave').prop('disabled', false);
                    $("#preloader").hide();
                }

            });
        }


</script>
}