@{
    Layout = null;
    int i = 1;
}
@model Facelift_App.Models.BillingRentDTO
<!DOCTYPE html>
<html>
<head>
    <title>@Model.TransactionCode</title>
    <style type="text/css">
        body {
            font-family: "DejaVu Sans Mono", monospace;
        }

        th, td {
            padding: 10px;
        }

        .tableDetail {
            border-collapse: collapse;
        }

        .tableDetail, .tableDetail th, .tableDetail td {
            border: 1px solid black;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: gray;
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <table width='100%'>
        <tbody>
            <tr>
                <td align="center" valign="middle">
                    <img style="width:70px;height:70px;" src="@ViewBag.Logo" />
                </td>
                <td align="center" valign="middle">
                    <h1>
                        <b>Facelift [Invoice]</b>
                    </h1>
                </td>
            </tr>
        </tbody>
    </table>
    <table width='100%'>
        <tbody>
            <tr>
                <td width="29%">Document No.</td>
                <td width="1%">:</td>
                <td width="70%">@Model.TransactionCode</td>
            </tr>
            <tr>
                <td width="29%">Warehouse</td>
                <td width="1%">:</td>
                <td width="70%">@(Model.WarehouseCode) - @(Model.WarehouseName)</td>
            </tr>
            <tr>
                <td width="29%">Date</td>
                <td width="1%">:</td>
                <td width="70%">@Model.CreatedAt</td>
            </tr>
            <tr>
                <td>Created By</td>
                <td>:</td>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <td>Period</td>
                <td>:</td>
                <td>@(Model.StartPeriod) - @(Model.LastPeriod)</td>
            </tr>
            <tr>
                <td>Total Pallet</td>
                <td>:</td>
                <td>@Model.Items.Count()</td>
            </tr>
            <tr>
                <td>Total Price</td>
                <td>:</td>
                <td>@Model.TotalBilling</td>
            </tr>
            <tr>
                <td>Tax</td>
                <td>:</td>
                <td>@Model.Tax</td>
            </tr>
            <tr>
                <td>Grand Total</td>
                <td>:</td>
                <td>@Model.GrandTotal</td>
            </tr>
        </tbody>
    </table>
    <table width='100%'>
        <tbody>
            <tr>
                <td width="90%" align="center"></td>
                <td width="10%" align="center"></td>
            </tr>
            <tr>
                <td width="90%" align="center"></td>
                <td width="10%" align="center">
                    <img style="width:70px;height:70px;" src="@ViewBag.Approved" />
                </td>
            </tr>
        </tbody>
    </table>
    <table style="margin-top:2px;">
        <tbody>
            <tr>
                <td width="100%" style="font-size:10px;">Generated At @DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</td>
            </tr>
        </tbody>
    </table>
</body>


</html>